body {
  color: black;
  /*background-color: #DDDDDD;*/
  background-color: #ffffff;
  font-size: 180% !important;
  font-family: sans-serif;
  margin: 15px;
}

div.search span,
div.search input[name="keyword"] {
  display: block;
}

div.search input[name="keyword"] {
  margin-top: 4px;
}

div.panel {
  margin-bottom: 15px;
}

div.panel.two-column {
  column-count: 1;
  column-gap: 5px;
  box-shadow: 10px 10px 42px -6px;
  word-wrap:break-word;
}

div.panel .panel-body p:last-child {
  margin-bottom: 0;
}

mark {
  padding: 0;
}

input[type="search"] {
  font-size: 120%;
  min-height: 40px;
  background-color: #6b6b6b;
  box-shadow: 10px 10px 42px -6px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}

div.center-column {
  box-shadow: 10px 10px 42px -6px;
  padding: 0;
}


.panel {
  /*background-color: #72b8fd;*/
  background-color: #ffffff;
  overflow: hidden;
}

u:hover {text-decoration: none;color:black;background-color:rgba(158, 154, 154, 0.65);}
u {text-decoration: none;color:black;}
u:link {text-decoration: none;color:black;background-color:#eeeeee;}
u:visited {text-decoration: none;color:black;background-color:#eeeeee}
u:active {text-decoration: none;color:black;background-color:#eeeeee}



.panel-body {
  margin-top: -13px;
}

#fav-button, #forvo-button {
  height: 40px;
  width: 100%;
  padding: 0px;
  font-size: 1.65em;
  width:100%;
  outline: none !important;
}

button {
  outline: none !important;
}

#next-button, #previous-button {
    width: 100%;
}

.star {
  height:100%;
}

.star-filled {
  color:#4e5d6c;
  background-color:white;
}

.favorites-navigation-buttons {
  border-color: white;
  border: solid;
}
